@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body, html {
    
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    /* font-family: "Oswald", sans-serif; */
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.ocean-level {
    height: 100vh;
    width: 100%;
    position: relative;
}

#level1 {
    margin-top: -40px;
    overflow: hidden;
    /* height: 320vh; */
    height:auto;
    background: linear-gradient(to bottom, #00bfff, #0073e6);
}

#level2 {
    overflow: hidden;
    background: linear-gradient(to bottom, #0073e6, #0059b3);
    padding-top: 30px;
}

#level3 {
    height: fit-content;
    margin-bottom: 1px;
    background: linear-gradient(to bottom, #0059b3, #003d80);
}

#level4 {
    margin-top: -1px;
    padding-top: 10px;
    padding-left: 50px;
    background: linear-gradient(to bottom, #003d80, #00264d);
}
#level5{
   background: linear-gradient(to bottom, #00264d, #001429);
   height: 300vh;
}
#level6{
    background: linear-gradient(to bottom, #001429, #000000);  
    height: 200vh;
}

.twinkle {
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    opacity: 0;
    animation: twinkle-animation 1.5s infinite ease-in-out;
}


@keyframes twinkle-animation {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}


/* ------------------- NAVBAR ------------------- */
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    margin: 0;
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}
/*      RESPONSIVE   NAVBAR       */
@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
    .twinkle {
        width: 2px;
        height: 2px;
    }
    :root{
        font-size: 10px;
    }

}

/* Hero Section */
.hero-container {
    font-family: "Poppins", sans-serif;
    margin-top: 64px;
    background: linear-gradient(to right, #5DE0E6, #004aad);
    width: 100%;
    height:700px; 
    overflow: hidden;
  }
  
  #hero-para {
    position: relative;
    top: 58px;
    left: 76px;
    width: 400px;
    font-weight: 400;
    font-size: 1.12rem;

  }
  ::-webkit-scrollbar {
    display: none;
}
  #hero-title {
    position: relative;
    top: 4px;
    left: 70px;
    line-height: 4rem;
    font-size: 3.5rem;

  }
  /*Float animation*/
  @keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}
  #hero-img{
   position: relative;
   top: -412px;
   animation: float 6s ease-in-out infinite;
  }
  @media (max-width: 500px){
    #hero-container{ 
        padding: 20px;
    }
    #hero-para{
        left: 30px;
        font-size: 16px;
        width: 50%;
        top:108px
    }
    #hero-title{
    
        top: 158px;
        left: 30px;
    }
    

    #hero-img{
        position: relative;
        top: 170px;
        left: 0;
        width: 500px;
    }


  }
  #scroll{
    position: absolute;
    top:520px;
    right: 45px;
    width: 4%;
  }
  #iceberg-lower{
    z-index: 1;
    position: relative;
    top: -87px;
    left: 392px;
    animation: float 6s ease-in-out infinite;
  }

  /*Junaid CSS*/

  .dolphineImage{
    position: absolute;
    top: 10px;
    left: 30px;
    animation: wave-animation 2s ease-in-out infinite;

}
.SunlightZone{
    font-family: "Poppins", sans-serif;

  z-index: 2;
  margin-left: 50px;
  margin-top: -675px;
}
.dol{
    position: absolute;
    top: 8px;
    left: 1px;
}
.SunlightZoneDefine{
    height: 200px;
    width: 30%;
    margin-left: 20px;
}
.TurtleImage{
    height: 200px;
    width: 30%;
    margin-left: 20px;
    align-items: center;
}
.TurtleImage img{
    padding-left: 50px;
    rotate: -15deg;
    animation: wave-animation 2s ease-in-out infinite;
}
.TurtleSideText{
    width: 20%;
    position: absolute;
    left: 25vw;
    top: 75vh;
    display: inline;
    z-index: 8;
}
.TurtleBottomText{
    width: 20%;
    height: 150px;
    margin-left: 20px;
}
@media (max-width: 500px){
    .dolphineImage>img{
        position: relative;
        width: 200px;
        top: -10px;
        left: 20px;
    }
    #iceberg-lower{
        top:-20px;
        left: 135px;
        width: 230px;
        margin-bottom: 600px;
    }
    
}

#majOverFiah{
  display: inline;
  animation: wave-animation 2s ease-in-out infinite;

}
#majOverNet{
  display: inline;
  animation: wave-animation 2s ease-in-out infinite;

}
#majOverOil{
  display: inline;
  animation: wave-animation 2s ease-in-out infinite;

}
.majorThreats{
    position: relative;
  display: flex;
  justify-content: center;
}
.majorThreats img{
    rotate: -6deg;
    border: 4px solid white;
    border-radius: 10px;
    position: relative;
    margin-right: -20px;
    left: -20px;
    margin-top: 40px;
    margin-bottom: 50px;

}
.CommitToConserText{
    font-family: "Poppins", sans-serif;
    width: 55%;
    margin-left: 40px;

}
.CommitToConserText>ol>li>h4{
    margin: 15px 2px;
}
.CommitToConserText>ol>li{
    margin: -4px -5px;
   line-height: 25px;
   color: white;
}
.icebergText{
    position: absolute;
    right: 20px;
    font-size: 23px;
    top: 100px;
    height: auto;
    width: 20%;
    z-index: 4;
}
.thre{
    margin-left: 30px;
}
.image-container {
    position: relative;
  }

  
  .image-text {
    position: absolute;
    padding: 2px 5px;
    border-radius: 5px;
    bottom: 0;
    color: #00274d;
    left: 50%;
    transform: translateX(-50%);
    background-color: #7decf198;
    rotate: -6deg;
    margin-bottom: 65px;
    font-weight: 800;
  }
  #narwhal{
    -webkit-transform: scaleX(-1);
    position: absolute;
    width: 440px;
    right: 30px;
    border: 3.3px solid white;
    border-radius: 15px;
    top:1550px;
  }

  #donation-button {
    background-color: #2835c5; 
    /* background-color: #e79e21;  */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; /* white color */
    cursor: pointer;
    height: 80px;
    width: 300px;
    transition: background-color 0.3s ease;
  }
  
  #donation-button:hover {
    background-color: #0088ff; /* darker blue color */
  }
  
  /* Add some sea-themed styles */
  #donation-button {
    background-size: 100% 100%;
    border: 2px solid #ffffff; /* white border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* add some depth */
  }
  
  #donation-button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* add more depth on hover */
  }
    
  @keyframes wave-animation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  #donation-button {
    animation: wave-animation 2s ease-in-out infinite;
  }

#donation-button{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Twilight Zone */

#Twilight-gb{
    width: 100%;
    position: absolute;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    
    
}

#Twilight-video{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 5;
    mix-blend-mode:soft-light;
}
#Twilight-container{
    
    z-index: 6;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    
    
  p{
    width: 65%;
    font-size: 16px;
    span{
        font-size: larger;
        font-weight: 600;
    }
  }
}

#JoinGroup{
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    background: transparent;
    color: white;
    
    .line{
    text-decoration: underline;
    }
    p{
        width: 60%;
    }
    img{
        margin: 20px;
        z-index: 4px;
        border: 4px solid black;
    }
    button{
        color: rgb(234, 248, 48);
        border-radius: 5px;
        font-size: 24px;
        font-weight: 600;
        background: #0285d2;
        border: none;
        padding: 5px 8px;
        transition: .5s;
        cursor: pointer;
    }

    button:hover{
        scale: 105%;
    }
    h3{
        font-size: 32px;
        line-height: 16px;
    }

}

#joinImageDiv{
    padding: 50px;
}

#joinimage{
    height: 300px;
}


@media (max-width: 768px){
    
    #JoinGroup{
        flex-direction: column;
        font-size:small

    }

    #Twilight-container{
        padding-left: 5%;
        padding-right: 5%;
        p{
            width: 100%;
            font-size:small
        
        }
    
  }}


  /*Midnight ZONE*/
  #level4>h4{
    text-decoration: underline;
    color: #007fff;
    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
}
#level4>p{
    color: white;
    width: 52%;
    text-align: center;
}
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box-back>h2{
    color: black;
    text-decoration: underline;
    font-size: 25px;
}
.flip-box-back>p{
    padding: 20px;
    font-size: 16px;
    text-align: center;
}
.flip-box {
    background-color: transparent;
    width: 250px;
    height: 250px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  #tripod{
    position: absolute;
    top: 150px;
    right: 150px;
  }
  #vSquid{
    position: absolute;
    top: 220px;
    right: 415px;
  }
  #glow{
    animation:  glow-bio 5s infinite;
  }
  @keyframes glow-bio {
    0%{
        text-shadow: 0px 0px 0px yellow;
        
    }
    50%{
        text-shadow: 0px 0px 10px yellow;
        
    }
    100%{
        text-shadow: 0px 0px 0px yellow;
    }
  }

  /*Abyss From Aman*/
  #home {
    width: 100%;
    /* height: 150%; */
    background: linear-gradient(180deg, #0f0d46, #0b082e, #05041a);
    color: white;
    position: relative;
}

#level5 {
    /* height: 100%; */
    width: 100%;
    /* border: 2px solid red; */
    padding: 0vw 5vw;
}

/* description */

#description{
    display: flex;
    flex-direction: column;
    gap: 3vw;
    padding: 2vw 0;
    width: 100%;
    /* border: 2px solid pink; */
}

#description p{
    margin-top: 10px;
}

.sub-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.line-under{
    width: 0.2vw;
    background: white;
}
#line1{
    height: 0vw;
}
#line2{
    height: 0vw;
}
#intro{
    h1{
        font-size: 36px;
    }
    p{
        font-size: 19px;
    }
}
#thr-head{
    margin-left: -200px;
    h2{
        font-size: 30px;
    }
    p{
        font-size: 19px;
    }
}
#thr-desc{
    h3{
        font-size: 27px;
    }
    p{
        font-size: 19px;
    }
}
.sub-desc-head{
    width: 25%;
    align-self: flex-start;
}

.sub-desc-description{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 50%;
}

.thr-desc-span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thr-desc{
    display: flex;
    flex-direction: column;
    gap: .1vw;
}
/* abyss ceature */
#abyss-creture {
    height: 80vh;
    width: 100%;
    /* border: 2px solid yellow; */
    position: relative;
    margin-bottom: -490px;
}

.creature-img-para {
    background:dodgerblue;
    height: 52%;
    width: 18%;
    position: absolute;
    left: 40%;
    top: 15%;
    border-radius: 5px;
    overflow: hidden;
    transition: 2s all ease-in-out;

}

.c-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: top;
}

.c-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.c-para {
    font-size: 1vw;
    position: absolute;
    bottom: -70%;
    left: 0;
    padding: 1.2vw;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: transparent;

    transition: 1s all ease-in-out;
    h1{
        font-size: 20px;
    }
}

.creature-img-para:hover .c-para {
    bottom: 0%;
    transition: 1s all ease-in-out;
}

#c-img-para1 {
    transform: rotate(325deg);
    margin-right:30px;
}

#c-img-para2 {
    transform: rotate(335deg);
    margin-right:30px;
}

#c-img-para3 {
    transform: rotate(345deg);
    margin-right:30px;
}

#c-img-para4 {
    transform: rotate(0deg);
        margin-right:30px;
}

/* abyss tshirt */
#abyss-tshirt {
    height: 48%;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* border: 2px solid tomato; */
}

#shop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200%;
    gap: 1vw;
    color: white;
    /* border: 3px solid yellow; */
    h2{
        font-size: 20px;
    }
}

.tshirt-img-para {
    height: 20vw;
    width: 20vw;
    background-color: #cacae387;
    position: relative;
    overflow: hidden;
}

.tshirt-img-para img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: top center;
}
i{
    font-size: 14px;
    color: rgb(255, 251, 0);
}
.t-para {
    width: 100%;
    line-height: .1;
    position: absolute;
    bottom: -18%;
    left: 0;
    background-color: rgb(23 28 82 / 58%);
    padding: 0.5vw;
    transition: .5s all ease-out;
    font-weight: 600;
}

.t-para h2 {
    margin-bottom: 0.5vw;
}

.tshirt-img-para:hover .t-para {
    bottom: 0;
    transition: 1s all ease-out;
}

.demo {
    height: 100%;
    width: 100%;
    background: transparent;
}

#about-tshirt {
    color: white;
    padding: 2vw 0px;
    width: 55%;
    margin-left: -650px;
    margin-bottom: -500px;
}

#about-tshirt h2 {
    font-size: 2.5vw;
}

#t-para{
    font-size: 20px;
}
#t-img-para9{
    display: flex;
    justify-content: center;
    align-items: center;
}

#t-img-para9 h3{
    background-color: rgba(0, 255, 255, 0.499);
    cursor: pointer;
    font-size: 2.5vw;
    padding: 1vw 2vw;
    text-wrap: nowrap;
}

#t-img-para9 h3:hover{
    background-color: rgba(0, 255, 255, 0.663);
    transition: all .2s ease-in;
}

#t-img-para9{
    height: fit-content;
    width: fit-content;
}
.floor{
    margin-top: -550px;
    font-family: "Poppins", sans-serif;
    height: 170vh;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .text-floor>p{
    width: 400px;
    color: white;

    font-size: 1.0rem;
  }
  .text-floor>h2{
    color: white;
    font-size: 2.5rem;
  }
  .text-floor{
    margin-top: 140px;
    margin-right: 50px;
    text-align: center;
    float: right;
  }
  #deepseadragonn {
    p{
        font-size: 16px;
    }
    position: absolute;
    top: 380px;
    left: 127px;
    width: 300px;
    z-index: 1;
}
  #seaStar {
    position: absolute;
    top: 545px;
    left: 445px;
    z-index: 10;
    width: 300px;
}
#bloodBelly {
    position: absolute;
    top: 163px;
    left: 345px;
}
  #oceanFloor{
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0px;
    clip-path: inset(0 0 35px 0); /*cropping for the footer*/
  }
  #deepseadragonn{
    width: 300px;
    height: 300px;
    background: url("/images/deepseadragonn.webp");
    background-size: contain;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
}
.text {
    width: 100%;
    background: linear-gradient(34deg, #0026ff, #00fff8, #00c9f8, #007cf8);
    position: relative;
    bottom: -50px;
    opacity: 0;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    transition: 0.5s;
}
.card:hover .text{
    opacity: 1;
    bottom: 0px;
    background-color: #ffffffbd;
}
#glassOctopus{
    position: absolute;
    top: 600px;
    right: 400px;
  }
  #dumboOCt{
    position: absolute;
    top: 600px;
    right: 800px;
  }
  #seaAngel{
    position: absolute;
    top: 600px;
    right: 1200px;
  }